<% if @post.errors.any? %>
<h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
  <% end %>
</ul>
<% end %>

<%= form_for(@post) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.submit %>


<% end %>